.container *{
  /* outline: 1px solid #333; */
  margin: 0;
}
body{
    display: grid;
    font-family: monospace;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    margin: 0;
}
ul{
  padding: 0;
}
li{
  list-style-type: none;
  padding: 2.5px 0;
  text-align: center;
}
p{
  display: block;
  word-wrap: break-word;
  width: 50%;
}
/* for the main container */
.container{
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 6px;
  box-shadow: -2px 2px 5px #aaa;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 240px 30px;
  height: 300px;
  justify-items: center;
  justify-self: center;
  margin: 50px;
  user-select: none;
  width: 380px;
}
/* for the target user container at the top */
.target_user_container{
  border-bottom: 1px solid #aaa;
  color: #888;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
}
#target_user_username{
  align-self: center;
  font-size: 16px;
  justify-self: left;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 5px;
  padding: 0;
  width: 100%;
}
#target_user_status_online, #target_user_status_offline{
  align-self: center;
  border: 1px solid #aaa;
  border-radius: 10px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: right;
  height: 10px;
  margin: 5px;
  padding: 0;
  width: 10px;
}
#target_user_status_offline{
  background-color: #eee;
}
#target_user_status_online{
  background-color: #aaa;
}
/* for the message container, where the massages go */
.messages_container{
  background-color: #ddd;
  color: #888;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  overflow: scroll;
  scrollbar-width: none;
  width: 100%;
}
.messages_container::-webkit-scrollbar{
  display: none;
}
#this_user_message{
  background: #eee;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 5px ;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-left: 48%;
}
#target_user_message{
  background: #ccc;
  border-radius: 0 5px 5px 5px ;
  border: 1px solid #aaa;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-left: 2%;
}
/* for the new message container, where the user input the message */
.new_message_container{
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-template-rows: 1fr;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  width: 100%;
}
#current_message_input{
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 0 0 0 5px;
  color: #888;
  outline: none;
  padding: 5px;
}
#current_message_input::placeholder{
  color: #aaa;
}
#send_message_button{
  background-color: #aaa;
  border: none;
  border-radius: 0 0 5px 0;
  color: #fff;
  cursor: pointer;
  outline: none;
}
